src/META-INF/wsdl/localhost_8080/webservice/MisServicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://miappweb.uniminuto.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://miappweb.uniminuto.com.co/">

<xs:element name="sumarDosNumeros" type="tns:sumarDosNumeros"/>

<xs:element name="sumarDosNumerosResponse" type="tns:sumarDosNumerosResponse"/>

<xs:complexType name="sumarDosNumeros">
<xs:sequence>
<xs:element name="numeroUno" type="xs:string" minOccurs="0"/>
<xs:element name="numeroDos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarDosNumerosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>